<div class="text-white">  
    <div [class]="getClasses(1)">
      the first product is {{model.getProduct(1)?.name}}
    </div>
    <div [class]="getClasses(2)">
      the second product is {{model.getProduct(2)?.name}}
    </div>
</div>

<div class="form-group m-2">
  <label>Name:</label>
  <input class="form-control" [value]="model.getProduct(1)?.name?? 'None'"/>
</div>

<table class="table mt-2">
  <tr>
    <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
  </tr>
  <tr>
    <td [attr.colspan]="model.getProducts().length">
      {{model.getProduct(1)?.name ?? 'None'}}
    </td>
  </tr>
</table>